h1#title {
    color: darkslategray
}

/* 
Add a plain/text highlighter that does not highlight. 
https://github.com/highlightjs/highlight.js/issues/700 
*/
code.language-plaintext {
    background-color: #272822;
    color: #f8f8f2;
}

a.heading-anchor {
    text-decoration: none;
}